.leaderboard-container {
    width: auto;
    margin: auto;
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .leaderboard-rewards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
  }
  
  .reward {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .amount {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .details {
    text-align: right;
    margin-bottom: 20px;
  }
  
  .details a {
    text-decoration: none;
    color: blue;
  }
  
  .user-list {
    max-height: 300px;
    overflow-y: auto;
  }
  
  .user {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .user .rank {
    font-weight: bold;
    color: #d4af37; /* Gold color for the rank */
  }
  
  .user .name {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .user .points {
    color: gray;
  }
  