body{
  margin: 0;
  padding: 0;
}

.farming-timer-container{
    width: auto;
    margin: auto;
    height: 97vh;
    background-color: #2C2F35;
    text-align: center;
    font-family: Helvetica;
}
.top-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.profile{
    display: flex;
    flex-direction: row;
}

.upgrade-translate{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upgrade-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
    border-radius: 1em;
    border: 1px solid black;
    background-color: goldenrod;
    color: black;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}
.start-button{
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem;
  color: black;
  background: goldenrod;
  cursor: pointer;
}

.welcome-dawg-image{
    width: 200px;
}

.farming-info{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    padding: 3rem;
    color: goldenrod;
}

.profile-icon{
  font-size: 50px !important;
  color: goldenrod;
}

.upgrade-icon{
  font-size: 30px !important;
  color: black;
}

.money{
  color: white;
}

.home-paws-icon{
  font-size: 18px !important;
  margin: 0px 5px;
}

.heading-paws-icon{
  font-size: 20px !important;
  margin: 0px 5px;
}