body{
  margin: 0;
  padding: 0;
}

.farming-timer-container{
    width: auto;
    margin: auto;
    height: 97vh;
    /* background-color: #2C2F35; */
    background-image: url('../../assets/background1.jpg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    text-align: center;
    font-family: Helvetica;
}
.top-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.profile{
    display: flex;
    flex-direction: row;
}

.upgrade-translate{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upgrade-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
    border-radius: 1em;
    border: 1px solid black;
    background-color: goldenrod;
    color: black;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}
.start-button{
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem;
  color: black;
  background: goldenrod;
  cursor: pointer;
}

.welcome-dawg-image{
    width: 150px;
}

.farming-info{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    padding: 3rem;
    color: goldenrod;
}

.profile-icon{
  font-size: 50px !important;
  color: goldenrod;
}

.upgrade-icon{
  font-size: 30px !important;
  color: black;
}

.money{
  color: white;
}

.home-paws-icon{
  font-size: 18px !important;
  margin: 0px 5px;
}

.heading-paws-icon{
  font-size: 20px !important;
  margin: 0px 5px;
}

.modal {
  position: fixed; /* Changed from absolute to fixed */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
  max-width: 100%;
  max-height: 100%;
  overflow: auto; /* Ensure modal content is scrollable if needed */
}

.modal.open {
  transform: translateY(0);
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Changed to align modal to bottom */
  position: fixed; /* Ensure overlay covers full viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-out;
}

.modal-overlay.open {
  opacity: 1;
}

.modal-overlay.closed {
  opacity: 0;
}

.modal-daily-login-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content inside the modal */
  padding: 1rem;
  max-width: 90%; /* Ensure modal content fits well */
  max-height: 80%;
  overflow: auto;
}

.modal-daily-login-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  width: 100%;
}

