.answer-container {
  width: auto;
  margin: auto;
  height: 100%;
  background-color: #f3f3f3;
  text-align: center;
}

.central-img {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 250px;
  height: auto;
}

.image-placement {
  display: flex;
  justify-content: center;
}

.end-heading {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.end-subheading {
  font-size: 14px;
  color: #555;
  padding-bottom: 1rem;
}
