.wallet-container {
    width: auto;
    margin: auto;
    height: 97vh;
    background-color: #2C2F35;
    text-align: center;
    font-family: Helvetica;
}

.paws-icon {
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.wallet-heading {
    font-size: 26px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding-top: 1rem;
    color: white;
}

.wallet-subheading {
    font-size: 18px;
    color: #666;
    font-family: Arial, sans-serif;
    padding: 1rem;
    color: white;
}

.wallet-section {
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-direction: column; 
}

.wallet-connect-button button {
    border: 1px solid black;
    background: goldenrod;
}

.wallet-details {
    padding: 2rem;
    background-color: #2C2F35;
    border-radius: 8px;
    color: white;
}

.wallet-detail-item {
    font-size: 18px;
    color: white;
    font-family: Arial, sans-serif;
}
