.wallet-container {
    width: auto;
    margin: auto;
    height: 97vh;
    background-color: #2C2F35;
    text-align: center;
    font-family: Helvetica;
}

.paws-icon {
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.wallet-heading {
    font-size: 26px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding-top: 1rem;
    color: white;
}

.wallet-subheading {
    font-size: 18px;
    color: #666;
    font-family: Arial, sans-serif;
    padding: 1rem;
    color: white;
}

.wallet-section {
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-direction: column; /* Added to stack items vertically */
}

.wallet-connect-button button {
    border: 1px solid black;
    background: goldenrod;
}

.wallet-details {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #1D1F21;
    border-radius: 8px;
    color: white;
}

.wallet-detail-item {
    font-size: 18px;
    margin: 0.5rem 0;
    color: white;
    font-family: Arial, sans-serif;
}

.wallet-avatar {
    margin: 1rem 0;
}

.wallet-avatar img {
    border-radius: 50%;
}

.wallet-about {
    margin-top: 1rem;
}

.wallet-about a {
    color: goldenrod;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.wallet-about a:hover {
    text-decoration: underline;
}

.navbar {
    margin-top: 2rem;
}
