/* Applying the animation to the loading image */
.loading-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    animation: fadeOut 2s forwards;
  }
  
  .game-loading-image {
    width: 150px;
  }
  