.frens-container {
  width: auto;
  margin: auto;
  height: 97vh;
  text-align: center;
  font-family: Helvetica, sans-serif;
  background-image: url("../../assets/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.frens-heading {
  font-size: 26px;
  font-weight: bold;
  padding-top: 0.5rem;
  color: white;
}

.frens-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow-y: auto; /* Changed from scroll to auto */
  height: 50%;
}

.frens-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3a3d45;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 80%;
}

.frens-item-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.invite-frens-icon {
  font-size: 15px !important;
  color: goldenrod;
}

.frens-icon {
  width: 40px;
  height: 40px;
}

.frens-text {
  flex-grow: 1;
  color: white;
}

.invite-frens-item-heading {
  padding-bottom: 0.25rem;
  margin-right: 1.5rem;
}

.invite-frens-item-desc {
  margin-right: 4.5rem;
  padding-bottom: 0.25rem;
}

.progress-bar-container {
  width: 100%;
  background-color: #555;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 0.25rem;
}

.progress-bar {
  height: 10px;
  background-color: #ff8c00;
  border-radius: 4px;
}

.frens-claim-button {
  background-color: #ff8c00;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.invite-button {
  padding: 0.25rem;
}

.buddies-image {
  max-width: 80px;
  max-height: 80px;
}

.modal {
  position: fixed; /* Changed from absolute to fixed */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-out;
  max-width: 100%;
  max-height: 100%;
  overflow: auto; /* Ensure modal content is scrollable if needed */
}

.modal.open {
  transform: translateY(0);
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Changed to align modal to bottom */
  position: fixed; /* Ensure overlay covers full viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-out;
}

.modal-overlay.open {
  opacity: 1;
}

.modal-overlay.closed {
  opacity: 0;
}

.modal-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content inside the modal */
  padding: 1rem;
  max-width: 90%; /* Ensure modal content fits well */
  max-height: 80%;
  overflow: auto;
}

.modal-invite-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  width: 100%;
}

.modal-close-icon {
  cursor: pointer;
  font-size: 1.5rem; /* Adjust size for better visibility */
}

.copy-message {
  color: goldenrod;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}
