.frens-container{
    width: auto;
    margin: auto;
    height: 97vh;
    background-color: #2C2F35;
    text-align: center;
    font-family: Helvetica;
}

.frens-heading{
    font-size: 26px;
    font-weight: bold;
   padding-top: 0.5rem;
    color: white;
}

.frens-description{
    font-size: 14px;
    color: #666;
    padding: 0.25rem;
    color: white;
}

.image-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 2rem;
}

.invite-button{
    padding: 0.25rem;
}

.buddies-image{
    max-width: 80px;
    max-height: 80px;
}

/* Add these styles to your index.css or another CSS file */
.modal {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
    background-color: lightgray;
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
  }
  
  .modal.open {
    transform: translateY(0);
  }
  
  .modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease-out;
  }
  
  .modal-overlay.open {
    opacity: 1;
  }
  
  .modal-overlay.closed {
    opacity: 0;
  }

  .modal-popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .modal-invite-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
  }

  .modal-close-icon{
    cursor: pointer;
  }
