.rules-container{
    width: auto;
    margin: auto;
    height: 100%;
    background-color: #f3f3f3;
}

.rules-dollar{
    width: 14px;
}
.line-text{
    margin-bottom: 0.25rem;
}
.line-text-heading{
    font-size: 18px;
    font-weight: bold;
}